body {
    font-family:"Noto Sans TC", "Azeret Mono", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Microsoft JhengHei", Roboto, 
    "Helvetica Neue", Arial, sans-serif;
    background: $black;
  }
  .number,.another-font {
    font-family: "Azeret Mono", "Noto Sans TC", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Microsoft JhengHei", Roboto, 
    "Helvetica Neue", Arial, sans-serif;
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    padding-left: 0;
    list-style: none;
  }